@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	background-color: #575757;
}

nav{
	position: fixed;
	color: white;
	font-size: 30px;
	top: 0;
	height: 45px;
	width: 100%;
	z-index: 1;

}

footer{
	position: fixed;
	color: white;
	bottom: 0;
	font-size: 20px;	
	height: 50px;
	width: 100%;
}

a{
	text-decoration: none;
	color: inherit;
}

i {
    color:#181818;
}

img{
	width: 150;
	height: 150;
	margin-top: 20px;
	margin-left: 20px;
}

iframe{
	margin-bottom: 50px;
	width: 700px;
}

#player{
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
}

#title{
	margin-left: 10px;
}

#title:hover{
	cursor: pointer;
	opacity: 0.8;
}

#copyright{
	margin-left: 5px;
}

#headerBar{
	height: 50px;
	background-color: #575757;
}

#searchBar{
	background-color: #E3E3E3;
	height: 55px;
}

#sideBar{
	position: fixed;
	float: left;
	margin-top: 105px;
	z-index: 1;
}

#footerBar{
	height: 50px;
	background: #B8B8B8;
}

.buttons, #submit{
	border-radius: 10px;
	color: white;
	outline: none;
	border: none;
	padding: 10px 10px 10px;
}

.buttons:hover{
	opacity: 0.8;
	cursor: pointer;
}

#btnSignUp, #btnLogin, #btnContact, #btnLogout{
	font-size: 16px;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

#btnSignUp{
	background-color: #ACCB12;
}

#btnLogin{
	background-color: #B0B0B0;
}

#btnLogout{
	background-color: #CA171B;
}

#btnLogin2,#btnBack{
	background-color: #B0B0B0;
	border: 1px solid #B0B0B0;
	padding: 10px 10px 10px;
	font-size: 16px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#btnAdd{
	background-color: #3EC303;
	cursor: pointer;
}

#btnEdit{
	background-color: #575757;
	color: #FF9900;
	border: none;
	height: 0px;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;

}

#btnEdit:hover{
	text-decoration: underline;
}

#btnBack{
	margin-top: 5px;
	float: left;
	background-color: #181818;
	border: 1px solid black;
}

.fa-arrow-left{
  color: white;
}

#addForm, #updateForm{
	margin-left: 100px;
}


#hiddenTr, #hiddenTh{
	display: none;
}

#editTd{
	background-color: #575757;
	border: none;
	cursor: default;
}

#changePass{
	float: left;
	margin-right: 40px;
}

#addButton{
	background-color: #3EC303;
	cursor: pointer;
	margin-left: 100px;
	margin-top: 20px; 
}

#updateButton{
	background-color: #FF9900;
	cursor: pointer;
	margin-left: 40px;
	margin-top: 20px; 
}

#deleteButton{
	background-color: #CA171B;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 20px; 
}

#btnSearchFromDatabase{
	padding: 5px 50px 5px;	
	background-color: #3FA9F5;
}

#btnContact{
	background-color: #575757;
}

#inputSearch{	
	padding: 5px 50px 5px;	
	display: inline;
	border-radius: 10px;
	border: 1px solid white;
	width: 450px;
	margin-left: 10px;
	margin-top: 10px;
}

table.sidebar{
	border-spacing: 0px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

table.sidebar td{
	border: 2px solid gray;
	background-color: #282828;
	color: white;
	width: 200px;
	padding: 10px;
	height: 100%;
	font-weight: bold;
}

table.sidebar td:hover{
	cursor: pointer;
	background-color: #ACCB12;
	font-size: 18px;
}

textarea:focus, input:focus{
	outline: none;
}

table.query{
	border-spacing: 0px;
	margin-bottom: 55px;
}

#albumPage{
	float: left;
}

table.query th{
	border: 1px solid black;
    padding: 10;
    color: gray;
    background-color: #181818;
    white-space: nowrap;
}

table.query th:hover{
	background-color: #181818;
}

table.query td{
	border-bottom: 1px solid black;
	background-color: #282828;
	font-size: 14px;
	width: 10px;
	white-space: nowrap;
	height: 40px;
	color: white;
	padding: 10px 30px 10px 30px;
	overflow: hidden;
}

table.query td a { 
	display: block;
    margin: -10em;
    padding: 10em;
}

table.query td:hover{	
	background-color: black;
	cursor: pointer;
	text-decoration: underline;
}

#container {
	width: 100%;
	float: left;
}

#content-layout {
	background-color: #575757;
	color: white;
	margin-top: 105px;
	margin-left: 223px;
	margin-bottom: 50px;
	position: relative;	
}

#content{
	margin-left: 20px;
}	

#number:hover, #length:hover, #country:hover, #year:hover, #username:hover, #admin:hover{
	background-color: #282828; 
	text-decoration: none;
	cursor: default;
}

#track{
	text-align: left;
}

#albumTitle{
	font-size: 50px;
	font-weight: normal;
	font-family: "Raleway", sans-serif;
	float: left;
}

#artist{
	font-weight: bold;
	color: black;
}

#artist:hover{
	cursor: pointer;
	text-decoration: underline;
}

#albumInfo{
	color: white;
}

#totalLength{
	display: inline;
}	

#pageLink{
	margin-top: 10px;
	margin-right: 10px;
	text-decoration: underline;	
	font-size: 18px;
}

#pageCurrentLink{
	margin-top: 10px;
	margin-right: 10px;
	text-decoration: underline;	
	font-size: 18px;
	color: black;
}

#linkContainer{
	margin-left: 300px;
}

#prevLink, #nextLink{
	color: black;
	margin-right: 10px;
}

#headerLink{
	text-decoration: underline;
	width: 100%;
	height: 100%;
}

#headerLink:hover{
	color: white;
}

#btnRegisterLoginForm, #btnBackToLogin, #btnBackToMain{
	padding: 10px 10px 10px;
	font-size: 16px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#btnRegisterLoginForm{
	margin-top: 15px;
	background-color: #ACCB12;
}

#btnBackToLogin, #btnBackToMain{
	background-color: #DD514C;
}	

#formContainerLoginRegister{
	width: 400px;
	margin: auto;
	background-color: #181818;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 5px 10px 1px black;
	padding: 10px;
	transform: translateY(30%);
	color: white;
}

#accountQ{
	color: #1FEDDE;
	font-size: 14px;
}

#accountQ:hover{
	text-decoration: underline;
}

input{
	font-size: 15px;
}

#errorMessageContainer{	
	background-color: #990000;
}

#errorMessage{	
	font-size: 20px;
	color: white;
	margin-left: 20px;
}


#comboYear, #comboCountry, #comboGenre, #comboArtist, #comboAlbum, #comboCompany{
	background-color: #282828;
	color: white;
	border-radius: 10px;
	font-size: 16px;
	border: 1px solid #282828;
	outline: none;
}

#loggedAs{
	font-size:15px;
	float: right;
	margin-right:20px;
}
